<section class="hero">
  <img src="assets/images/background_breads.jpg" alt="Image des pains et viennoiseries">
  <h1>Nou kontant woué zot </h1>
  <p>La maison des douceurs!</p>
  <div class="hero-cta">
    <button mat-raised-button color="accent" routerLink="/products">
      Voir nos produits
    </button>
  </div>
</section>
<section class="product-star "></section>
<section class="about "></section>
<section class="info">
  <p>contact</p>
  <p>horaire</p>
</section>
<section class=" "></section>
