<mat-toolbar color="primary">
  <div class="logo-wrapper">
    <img src="assets\images\logo_kay_peyin_an.png" alt="kay Peyin An Logo" class="logo">
    <h3 class="logo-title">Kay Peyin An</h3>
  </div>

  <span class="spacer"></span>
  <div class="nav-links">
    <button mat-button routerLink="/">Accueil</button>
    <button mat-button routerLink="/products">Produits</button>
    <button mat-icon-button routerLink="/basket"
            [matBadge]="(cart.count$ | async) ?? 0"
            [matBadgeHidden]="(cart.count$ | async) === 0"
            matBadgeColor="accent"
            aria-label="Panier">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>
